<div class="card create-account">
<div class="card-body">
  <h3 class="card-title text-dark mb-4">Create an Account</h3>
<form action="/signup" method="POST">
  <div class="form-group row">
    <div class="col-md-5">
      <span> <i class="icon fas fa-user-alt mr-2"></i>  </span>
      <label for="signupUsername" class="col-form-label"> Username  </label>
    </div>
    <div class="col-md-7">
      <input type="text" class="form-control" id="signupUsername"  name="username" placeholder="Username">
      <div class="mt-3 small account-message username alert d-none" role="alert">
        <strong> Warning! </strong> Your usernames must match.
      </div>
      <div class="mt-3 small account-message userexists alert d-none" role="alert">
        <strong> User Exists Already! </strong> Please choose a different Username.
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-5">
      <span> <i class="icon fas fa-redo-alt mr-2"></i> </span>
      <label for="signupUsernameConfirm" class="col-form-label">Confirm Username </label>
    </div>
    <div class="col-md-7">
      <input type="text" class="form-control" id="signupUsernameConfirm"  name="signupUsernameConfirm" placeholder="Confirm Username">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-5">
      <span> <i class="icon fas fa-key mr-2"></i> </span>
      <label for="signupPassword" class="col-form-label">Password</label>
    </div>
    <div class="col-md-7">
      <input type="password" class="form-control" id="signupPassword" name="password" placeholder="Password">
      <div class="small account-message password alert d-none mt-3" role="alert">
        <strong> Warning! </strong> The passwords must match. <br><br>
        <ul>
          <li>Use 8 or more characters with a mix of letters, numbers & symbols for a <strong> strong </strong> password</li>
        </ul>
    </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-5">
      <span> <i class="icon fas fa-redo-alt mr-2"></i> </span>
      <label for="signupPasswordConfirm" class="col-form-label">Confirm Password</label>
    </div>
    <div class="col-md-7">
      <input type="password" class="form-control" id="signupPasswordConfirm" name="signupPasswordConfirm" placeholder="Confirm Password">
    </div>
  </div>

  <div class="form-group row float-right">
    <div class="col-sm-12">
      <button id="signupButton" disabled type="submit" class="btn btn-dark float-right ml-2">Create Account </button>
    </div>
  </div>

</form>
</div>
</div>
