<div class="footer-container mt-5">
  <footer>
    <div class="container text-white">
      <div class="row">
        <div class="col-md-12">
          <p class="h5 mb-3"> Contact Us</p>
          <ul>
            <li><a href="/"> <span> <i class="icon fab fa-facebook mr-3"></i>  </span> </a> </li>
            <li><a href="/"> <span> <i class="icon fab fa-instagram mr-3"></i> </span> </a> </li>
            <li><a href="/"> <span> <i class="icon fab fa-linkedin mr-3"></i> </span> </a> </li>
            <li><a href="/"> <span> <i class="icon fab fa-youtube-square mr-3"></i> </span></a> </li>

          </ul>
        </div>
      </div>

    </div>
  </footer>
</div>

</body>
</html>
