<div class="applications-nav">
  <nav class="navbar navbar-light bg-light">
      <div class="">
        <a class="navbar-brand" href="/">
          <img src="logos/cooking.png" class="d-inline-block align-middle img-fluid mr-3" alt="">
          <span class="h2 title align-middle">WeCook</span>
        </a>
      </div>
      <ul class="nav justify-content-end float-right">


        <li class="nav-item">
          <a class="nav-link active border-right text-info" href="/share">   <span> <i class="icon fab fa-creative-commons-share mr-3"></i>  </span> Share a Recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active border-right text-info" href="/account">   <span> <i class="icon fas fa-user-circle mr-3"></i>  </span> My Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-warning" href="#">   <span> <i class="icon fas fa-sign-out-alt mr-3"></i>  </span> Logout</a>
        </li>

      </ul>
  </nav>
</div>
