
  <div class="form-group mb-2">
    <label for="search_input" class="sr-only">Password</label>
    <input id="search_input" type="text" class="form-control mr-2" placeholder="Search for recipes ... ">
  </div>
  <button  id="search_button" class="btn btn-outline-success mb-2"><i class="fas fa-search mr-2"></i> Search</button>
