<div class="modal fade" id="editRecipe_<%= recipe.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content recipe_preview">
      <div class="modal-header">
        <h3 class="modal-title text-warning " id="recipe_<%= recipe.title %>_title"><i class="far fa-edit mr-2 font-weight-bold"></i> Edit: <span><%= recipe.title %></span></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%- include('../includes/recipe_edit_form', {recipe: recipe}); %>
      </div>
    </div>
  </div>
</div>
