<div class="row">
  <div class="col-md-12">
    <div class="card questionbox-card text-info">
      <div class="card-body">
        <h1 class="card-title text-info"> Share your recipe ...</h1>
        <h6 class="card-subtitle mb-2 text-muted mb-4 font-italic"> your recipe could help a hungry student...</h6>
        <form>
          <div class="form-group">
            <span> <i class="icon fas fa-feather-alt mr-3"></i>  </span>
            <label for="exampleInputEmail1">Title</label>
            <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter a unique title for your recipe">

          </div>

          <div class="form-group">
            <span> <i class="icon fas fa-info-circle mr-3"></i>  </span>
            <label for="exampleInputPassword1">Descriptions</label>
            <textarea class="form-control " id="exampleFormControlTextarea1" rows="5" placeholder="Enter a detailed instruction..."></textarea>
          </div>

          <div class="form-group">
            <span> <i class="icon fas fa-tags mr-3"></i>  </span>
            <label for="exampleInputEmail1">Select Tags</label>
            <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select appropriate tags">

          </div>

          <button type="submit" class="btn-lg btn-block btn-info float-right"> <span> <i class="icon fas fa-paper-plane mr-3"></i>  </span> Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
