<div class="card">
  <div class="card-body">
    <h5 class="card-title font-40"><i class="fas fa-filter mb-3"></i> Filters </h5>
    <div class="">
      <% include ../includes/nav_search %>
    </div>

    <div class="sidebar_div">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h1></h1>
            </div>

            <ul class="list-unstyled components">

                <li>
                    <ul class="list-unstyled components mb-5">
                        <h3> <img src="/icons/store.png" class="d-inline-block img-fluid mr-3" alt=""> <span class="align-middle">Markets </span> </h3>
                        <li class="active">
                            <input type="checkbox" id="Earls" name="Earl's" value="Earl's" class="filter"><a class="filter-link" title="Earl's">Earl's</a>
                        </li>
                        <li>
                            <input type="checkbox" id="Goodys" name="Goody's" value="" class="filter"><a class="filter-link" title="Goody's">Goody's</a>
                        </li>
                        <li>
                            <input type="checkbox" id="Johns" name="John's" value="" class="filter" ><a class="filter-link">John's</a>
                        </li>
                        <li>
                            <input type="checkbox" id="Rogers" name="Roger's" value="" class="filter" ><a class="filter-link">Roger's</a>
                        </li>
                        <li>
                            <input type="checkbox" id="Sixth" name="Sixth" value="" class="filter" ><a class="filter-link">Sixth</a>
                        </li>
                        <li>
                            <input type="checkbox" id="Village" name="Village" value="" class="filter" ><a class="filter-link">Village</a>
                        </li>
                    </ul>
                </li>


                <li>
                  <ul class="list-unstyled components mb-5">
                    <h3> <img src="/icons/protein.png" class="d-inline-block img-fluid mr-3" alt=""> <span class="align-middle">Protein </span> </h3>
                    <li class="active">
                        <input type="checkbox" name="Tofu"  value="Tofu" class="filter"><a class="filter-link">Tofu</a>
                    </li>
                    <li>
                        <input type="checkbox" name="Beef" value="Beef" class="filter"><a class="filter-link">Beef</a>
                    </li>
                    <li>
                        <input type="checkbox" name="Pork" value="" class="filter" ><a class="filter-link">Pork</a>
                    </li>
                    <li>
                        <input type="checkbox" name="Fish"  value="" class="filter" ><a class="filter-link">Fish</a>
                    </li>
                    <li>
                        <input type="checkbox" name="Chicken"  value="" class="filter" ><a class="filter-link">Chicken</a>
                    </li>
                  </ul>
                </li>

                <li>
                  <ul class="list-unstyled components mb-5">
                    <h3> <img src="/icons/dairy.png" class="d-inline-block img-fluid mr-3" alt=""> <span class="align-middle">Dairy </span> </h3>
                    <li>
                        <input type="checkbox" name="Cheese"  value="" class="filter" ><a class="filter-link">Cheese</a>
                    </li>
                    <li>
                        <input type="checkbox" name="Milk"  value="" class="filter" ><a class="filter-link">Milk</a>
                    </li>
                    <li>
                        <input type="checkbox" name="Goat Milk"  value="" class="filter" ><a class="filter-link">Goat Milk</a>
                    </li>
                  </ul>
                </li>


                <li>
                  <ul class="list-unstyled components mb-5">
                    <h3> <img src="/icons/veggies.png" class="d-inline-block img-fluid mr-3" alt=""> <span class="align-middle">Veggies </span> </h3>
                    <li class="active">
                        <input type="checkbox" name="Bokchoi"  value="" class="filter" ><a class="filter-link">Bokchoi</a>
                    </li>
                    <li>
                        <input type="checkbox" name="Broccoli"  value="" class="filter" ><a class="filter-link">Broccoli</a>
                    </li>
                    <li>
                        <input type="checkbox" name="Snowpeas"  value="" class="filter" ><a class="filter-link">Snowpeas</a>
                    </li>
                    <li>
                        <input type="checkbox" name="Asparagus" value="" class="filter" ><a class="filter-link">Asparagus</a>
                    </li>
                    <li>
                        <input type="checkbox" name="Spinach"  value="" class="filter" ><a class="filter-link">Spinach</a>
                    </li>
                  </ul>
                </li>





            </ul>
        </nav>

    </div>
  </div>
</div>
