<div class="sidebar_div">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h1><i class="fas fa-filter mb-3"></i> Filter</h1>
        </div>

        <ul class="list-unstyled components">

            <li>
                <ul class="list-unstyled components mb-5">
                    <h2>UCSD Markets</h2>
                    <li class="active">
                        <input type="checkbox" id="Earl's" name="Earl's" value="">Earl's
                    </li>
                    <li>
                        <input type="checkbox" id="Goody's" name="Goody's" value="Beef">Goody's
                    </li>
                    <li>
                        <input type="checkbox" id="John's" name="John's" value="">John's
                    </li>
                    <li>
                        <input type="checkbox" id="Roger's" name="Roger's" value="">Roger's
                    </li>
                    <li>
                        <input type="checkbox" id="Sixth" name="Sixth" value="">Sixth
                    </li>
                    <li>
                        <input type="checkbox" id="Village" name="Village" value="">Village
                    </li>
                </ul>
            </li>


            <li>
              <ul class="list-unstyled components mb-5">
                <h2>Protein</h2>
                <li class="active">
                    <input type="checkbox" id="Tofu" name="Tofu" value="Tofu">Tofu
                </li>
                <li>
                    <input type="checkbox" id="Beef" name="Beef" value="Beef">Beef
                </li>
                <li>
                    <input type="checkbox" id="Pork" name="" value="">Pork
                </li>
                <li>
                    <input type="checkbox" id="Fish" name="" value="">Fish
                </li>
                <li>
                    <input type="checkbox" id="Chicken" name="" value="">Chicken
                </li>
              </ul>
            </li>

            <li>
              <ul class="list-unstyled components mb-5">
                <h2>Dairy</h2>
                <li>
                    <input type="checkbox" id="Cheese" name="" value="">Cheese
                </li>
                <li>
                    <input type="checkbox" id="Milk" name="" value="">Milk
                </li>
                <li>
                    <input type="checkbox" id="Goat Milk" name="" value="">Goat Milk
                </li>
                <li>
                    <input type="checkbox" id="" name="" value="">Human Milk
                </li>
              </ul>
            </li>


            <li>
              <ul class="list-unstyled components mb-5">
                <h2>Veggies</h2>
                <li class="active">
                    <input type="checkbox" id="Bokchoi" name="" value="">Bokchoi
                </li>
                <li>
                    <input type="checkbox" id="Broccoli" name="" value="">Broccoli
                </li>
                <li>
                    <input type="checkbox" id="Snowpeas" name="" value="">Snowpeas
                </li>
                <li>
                    <input type="checkbox" id="Asparagus" name="" value="">Asparagus
                </li>
                <li>
                    <input type="checkbox" id="Spinach" name="" value="">Spinach
                </li>
              </ul>
            </li>





        </ul>
    </nav>

</div>
