<div class="sidebar_div">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h1><i class="fas fa-filter mb-3"></i> Filter</h1>
        </div>

        <ul class="list-unstyled components">

            <li>
              <ul class="list-unstyled components mb-5">
                <h2>Protein</h2>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="">Tofu</a>
                </li>
                <li>
                    <a href="#">Beef</a>
                </li>
                <li>
                    <a href="#">Pork</a>
                </li>
                <li>
                    <a href="#">Fish</a>
                </li>
                <li>
                    <a href="#">Chicken</a>
                </li>
              </ul>
            </li>

            <li>
              <ul class="list-unstyled components mb-5">
                <h2>Dairy</h2>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="">Tofu</a>
                </li>
                <li>
                    <a href="#">Cheese</a>
                </li>
                <li>
                    <a href="#">Milk</a>
                </li>
                <li>
                    <a href="#">Goat Milk</a>
                </li>
                <li>
                    <a href="#">Human Milk</a>
                </li>
              </ul>
            </li>


            <li>
              <ul class="list-unstyled components mb-5">
                <h2>Veggies</h2>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="">Bokchoi</a>
                </li>
                <li>
                    <a href="#">Broccoli</a>
                </li>
                <li>
                    <a href="#">Snowpeas</a>
                </li>
                <li>
                    <a href="#">Asparagus</a>
                </li>
                <li>
                    <a href="#">Spinach</a>
                </li>
              </ul>
            </li>





        </ul>
    </nav>

</div>
