<% include ./includes/header %>
<div class="container error-page mt-5">
  <div class="jumbotron">
    <h1> ERROR: 404</h1>
    <p>File not found ... </p>
    <a href="/" class="btn-lg btn-primary">Go Home</a>
  </div>
</div>
