<% include ./includes/header %>
<% include ./includes/nav %>

<div class="container index">

  <div class="jumbotron mt-5" id="home_jumbotron">
    <div class="row">
      <div class="col-md-12 text-center">
          <h1 class="align-middle">  WECOOK </h1>
          <p class="align-middle font-italic">  - Designed for explorers  </p>
          <a id="community_recipes_btn" href="/dashboard/community" class="btn btn-primary mb-3"><i class="icon fas fa-smile-beam"></i> View Community Recipes</a>
      </div>
    </div>

      <div class="row">
        <div class="col-sm-6 login-card ">
          <% include ./includes/login_card %>
        </div>
        <%# end of Login %>

        <div class="col-sm-6 login-card">
          <% include ./includes/create_account_card %>
        </div>
        <%# end of CREATE AN ACCOUNT  %>
      </div>
      <%# end of ROW %>
</div>
</div>
<%# end of INDEX %>
<% include ./includes/footer %>
