<% include ../includes/header %>
<% include ../includes/nav %>

<div class="row">
  <div class="col-md-3">
    <% include ../includes/sidebar %>
  </div>
  <div class="col-md-9">
    <div class="container mt-5">
      <h1 class="text-dark mb-5 font-40">WELCOME TO THE COMMUNITY BOARD</h1>

      <% recipe_seeds.forEach(function(recipe) { %>
        <% console.log(recipe.title); %>
        <%- include('../includes/recipe', {recipe: recipe}); %>
      <% }); %>

    </div>
  </div>
</div>
