<% include ../includes/header.ejs %>
<% include ../includes/nav.ejs %>


<div class="container mt-5 share_recipe">

 <%- include('../includes/recipe_form', {recipe_tags: recipe_tags}); %>

</div>
<% include ../includes/footer %>
