<% include ../includes/header %>
<% include ../includes/nav %>

<div class="container">
  <div class="jumbotron mt-5">
    <h1>Sorry... this functionality hasn't been implemented yet (Coming Soon...)</h1>
    <a href="/" class="btn btn-primary mt-3"> Go back</a>
  </div>


</div>

<% include ../includes/footer %>
