<% include ../includes/header %>
<% include ../includes/nav %>


<div class="container mt-5 share_recipe">

 <%- include('../includes/recipe_form', {recipe_tags: recipe_tags}); %>

</div>
<% include ../includes/footer %>